{% extends 'base.html' %}
    {% block description %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="Python Liberia Code of Conduct">
    <meta name="description" content="Python Liberia Code of Conduct ">
    <meta author="Innovation Team" content="Project done by Innovation Team - Easy Tech">
    {% endblock description %}
{% block title %}
Python Liberia Code of Conduct
{% endblock title %}
{% load static %}
{% block proj_css %}
<link rel="stylesheet" href="{% static 'css/project/default.css' %}" type="text/css">
{% endblock proj_css %}

{% block content %}
<div class="container">
{% for c in code %}
	<h1>{{c.Title}}</h1>
	<br>
	<p>{{c.Body|safe}}</p>
{% endfor %}
</div>
{% endblock content %}

