{% extends 'base.html' %}
    {% block description %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="Python Liberia Constitution">
    <meta name="description" content="Python Liberia consitution that governs the organization">
    <meta author="Innovation Team" content="Project done by Innovation Team - Easy Tech">
    {% endblock description %}
{% block title %}
Python Liberia Constitution 
{% endblock title %}
{% load static %}
{% block proj_css %}
<link rel="stylesheet" href="{% static 'css/project/default.css' %}" type="text/css">
{% endblock proj_css %}

{% block content %}
<div class="container">
		<h1> Welcome to Python Liberia Constitution </h1>
		<p>Please take note and cover yourself accordingly </p>	
		<br />

		<!-- name --> 
		<h2> 1. NAME </h2>
		<p>The name of the organization shall be Python Users Nigeria Group (PyUNG). Also known as PyNigeria. </p>
		<br />

		<!-- aims -->
		<h2> 2. AIMS </h2>
		<p>The aims of the Group shall be to facilitate and help promote the use of the Python computer programming language in Nigeria.</p>
		<br />

		<!-- objects -->
		<h2> 3. OBJECTIVES </h2>
		<p>To further these aims, the committee shall fulfil by:</p>
		<ol>To promote the use of the Python programming language across industries, communities, schools and learning centres regardless of age, ethnic region, gender, ability and recognizing the value of diversity. </ol>
		<ol>To involve IT professionals who use the Python programming language with the local community to impart knowledge. </ol>
		<ol>To facilitate meetups, seminars and conferences that bring together industry professional to learn, share, collaborate and partner not only on projects but to achieve set learning outcomes. </ol>
		<ol>To ensure global collaboration between the local community and the widely international Python community. </ol>
		<ol>To raise funds and receive contributions where appropriate to finance the objectives of community projects. </ol>
		<ol>To educate, encourage, support and if necessary help facilitate projects of members of the community. </ol>
		<ol>To monitor all community projects to ensure a safe and friendly environment and conformity to the code of conduct as stipulated by the Python Software foundation. </ol>
		<ol>To organize Python meetups, training courses, events, workshops, conferences at suitable venues across Nigeria. </ol>
		<ol>To collaborate with groups with similar interests to exchange information and offer advice. </ol>
		<ol>To take any action that is lawful, which would help the community fulfil its aims. </ol>
		<ol>The society shall not pursue any aim not set out in the above clauses unless it be provided by it's members with an amenity for which there is a material demand among the membership. </ol>
		<br />

		<!-- membership subscription --> 
		<h2> 4. MEMBERSHIP </h2>
		<ol>Membership of the Society is open to all persons subject to acceptance by the Executive Committee of the Society and payment of an annual subscription fee as set out by the Committee. </ol>
		<ol>The initial subscription fee is two hundred naira per annum per member. The subscription fee shall be set annually by the Executive Committee of the Society. </ol>
		<ol>All Members of the Society shall be required to pay the subscription except for Honorary Members (see below). It shall be the responsibility of the Treasurer of the Society to collect the subscriptions. Subscriptions are due on the first day of November each year. </ol>
		<ol>Honorary Members of the Society may be appointed at the discretion of the Committee of the Society and in recognition for their contribution to the Society and to the Python Community in general. </ol>
		<br />
		<p>See <span class="text-danger"> "Appendix 1: </span> Communications to Members" for details of how the Committee shall communicate with Members and Members with each other.</p>
		<br>

		<!-- committee -->
		<h2>5. COMMITTEE </h2>
		<ol>The Society shall have an Executive Committee elected annually by the Membership (hereinafter called "the Committee") to direct ongoing activities and foster the aims of the Society. </ol>
		<ol>The Committee shall be composed of a minimum of four persons and a maximum of ten persons. The Committee shall be able to co-opt members and such co-options shall stand down at the next Annual General Meeting and shall seek election by the membership to remain on the Committee. </ol>
		<ol>The Committee shall elect Officers from its members including: A Chairperson, A Vice Chairperson, A Secretary, A Treasurer, and other Officers as the need arises. </ol>
		<ol>Sub-Committees may be co-opted as the need arises and at the discretion of the Committee. Where the Committee deems it appropriate to the needs of the Society, co-options may be drawn from non-Members of the Society. </ol>
		<p>See <span class="text-danger">"Appendix 2: </span> Initial Functioning of the Society" for details of how the Committee shall be composed until the initial AGM is held.</p>

		<!--  Responsibilities -->
		<h2>6. RESPONSIBILITIES OF THE OFFICERS</h2>
		<ol> <b> The Chairperson</b>: the Chairperson shall oversee the general running of the Society and shall be answerable to the Committee. </ol>
		<ol><b>The Vice Chairperson</b>: the Vice Chairperson shall deputise for the Chairperson whenever the latter is unable to fulfill his/her duties and shall carry out the duties described above. </ol>
		<ol><b>The Secretary</b>: the Secretary shall take minutes at all meetings of the Society. The Secretary shall be responsible for all the correspondence of the Society and shall keep a record of it. </ol>
		<ol><b>Treasurer</b>: the Treasurer shall have responsibility for all the Society's finances including the collection of subscriptions and the maintenance of accounts. </ol>
		<ol><b>Other Members of the committee</b>: shall be delegated any duties by the Chairperson as are seen fit, including acting as deputies to the Officers of the Society. </ol>

		<!-- eligibility -->
		<h2>7. ELIGIBILITY, NOMINATION & ELECTION OF OFFICERS</h2>
		<ol>Eligibility in the case of all Officers is derived from all Members of the Society. </ol>
		<ol> The Officers of the Society shall be elected by the Committee from its Members. </ol>
		<ol>Honorary Members shall have the same privileges as Members except the privilege of voting in meetings or voting in elections. </ol>
		<ol>Only fully paid-up Members of the Society can vote at elections and at General Meetings. </ol>
		<ol>Candidates for election to the Committee must be nominated and seconded by fully paid up Members of the Society in writing and the Secretary must receive such nominations at the published address of the Society at least seven days before the AGM. All elections shall be by show of hands. </ol>
		<ol>No one shall be admitted to Membership of the Society less than twenty-four hours before a General Meeting. </ol>

		<!-- GENERAL MEETING -->
		<h2>8. GENERAL MEETINGS</h2>
		<ol>An Annual General Meeting shall be held within 12 months of the date of the adoption of this constitution and each year thereafter. </ol>
		<ol>Notices of the AGM shall be published three weeks beforehand and a report on the Group's financial position for the previous year will be made available at the same time. </ol>
		<ol>A Special General Meeting may be called at any time at the request of the committee, or not less than one quarter of the membership. A notice explaining the place, date, time and reason shall be sent to all members three weeks beforehand. </ol>
		<ol>One third of membership or twenty members being present, whichever is the greater, shall enable a General Meeting to take place. </ol>
		<ol>Proposals to change the constitution must be given in writing to the secretary at least 28 days before a general meeting and approved by a two thirds majority of those present and voting at a Special General Meeting. </ol>
		<br />
		
		<!-- accounts -->
		<h2>9. ACCOUNTS</h2>
		<ol>The funds of the group including all donations, contributions and bequests, shall be paid into an account operated by the management committee. All cheques drawn on the account must be signed by at least two members of the Management Committee. </ol>
		<ol>The funds belonging to the group shall be applied only to further the aims of the group. </ol>
		<ol>Any bank accounts opened for the group shall be in the name of the group. </ol>
		<ol>A current record of all income, funding and expenditure will be kept. </ol>

		<!-- member dismisal -->
		<h2>10. MEMBER DISMISSAL</h2>
		<ol>Any Member found to be placing the Society in disrepute or disregarding the constitution shall be ordered to appear before the Executive Committee of the Society. The Committee shall have the right to revoke the membership of the member concerned. </ol>
		<ol>If an Officer of the Society or a Committee Member is absent from a Committee meeting or a Society meeting on five consecutive occasions without providing apologies or reason he/she shall be deemed to have resigned. </ol>

		<!-- dissolution -->
		<h2>11. DISSOLUTION</h2>
		<ol>The Group may be dissolved by a resolution passed by a simple two-thirds majority of those present and voting at a Special General Meeting. </ol>
		<ol>If confirmed, the committee shall distribute any assets remaining after the payment of all bills to other charitable group(s) or organisation(s) having aims similar to the Group or some other charitable purpose(s) as the Group may decide. </ol>

		<!-- amenents to constitution -->	
		<h2>12. AMENDMENTS TO CONSTITUTION</h2>
		<ol>This Constitution may be amended by a two-thirds majority of those present and eligible to vote at an Annual General Meeting or Extraordinary General Meeting of the Society. </ol>
		<ol>Amendments to this Constitution shall be proposed by the Committee or by twelve Members or more of the Society in writing in accordance with the provisions set out in paragraph 7.6 above. </ol>
		<ol>This Constitution is binding from May 1, 2016.</ol>	
		<p>See <span>"Appendix 2: </span> Initial Functioning of the Society" for information on how the Society has come into being and how it shall function during the first six months</p>

		<!-- constitution -->
		<h2>The Python Users Nigeria Group: Constitution</h2>
		<h3>Appendix 1 to the Constitution</h3>
		<h4>Communications to Members</h4>
		<p><b>Website:</b></p>
		<p>The Society shall provide and maintain a website at www.pythonnigeria.org</p>
		<p><b>Communications</b></p>
		<p>General communications to Members shall be through details posted on the Society's website. Formal communications to individual Members may be made by e-mail or by post, whichever is appropriate.</p>
		<p><b>Society Forum: </b></p>
		<p>The Society's website shall include a forum for Members to post their views and opinions. Any such views and opinions shall not be binding on the Society or Committee unless formally adopted in accordance with the provisions of the Society's Constitution.</p>
		<br />
		<h2>Appendix 2 to the Constitution</h2>
		<h3>Initial Functioning of the Society</h3>
		<p><b>Introduction </b></p>
		<p>The Society is being setup, in the first instance, to facilitate the organization and coordination of various Python events and activities in Nigeria.</p>
		<p>An initial meeting of individuals interested in Python was held in conjunction with DjangoGirls Lagos 20th February 2016. Also, mailing list and Slack administrators held a number of virtual meetings. At these meetings and during subsequent discussions the recognition that a formal organization would be required to support subsequent events which led to the formation of The PyNigeria Society.</p>
		<p>The Constitution to which this document forms an Appendix is a product of this recognition. This Appendix outlines how the Society shall function initially pending the first Annual General Meeting of the Society.</p>
		<p><b>Constitution of the Society:</b></p>
		<p>The Constitution of the Society shall be applicable from <b>May 1, 2016.</b></p>
		<p><b>Executive Committee</b></p>
		<p>The initial Executive Committee has been drawn from those who were nominated and voted in the Slack elections and have already taken active roles in the community's activities. Its members are:</p>
		<br />
		<div class="row">
			<div class="col-md-3">
				<img src="{% static 'img/officials/carlos.png' %}" alt="Chairperson" style="border-radius: 12px;" width="100%" height="250">
				<center>
					<h4 class="btn btn-lg"> Carlos Nah, Jr.</h4>
				<h5> Chairperson </h5>
				<!-- facebook  -->
					<a href="#" title="Carlos Nah, Jr.'s facebook page">
						<span>
							<li class="fab fa-facebook" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Github  -->
					<a href="#" title="Carlos Nah, Jr.'s github page">
						<span>
							<li class="fab fa-github" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Instagram -->
					<a href="#" class="instagram" title="Carlos Nah, Jr.'s instagram page">
						<span >
							<li class="fab fa-instagram github" style="font-size: 3em;"></li>
						</span>
					</a>
			</center>
			</div>
			<div class="col-md-3">
				<img src="{% static 'img/officials/memb.jpg' %}" alt="Chairperson" style="border-radius: 12px;" width="100%" height="250">
				<center>
					<h4 class="btn btn-lg"> Chris Eminike </h4>
				<h5> Vice Chairperson </h5>
				<!-- facebook  -->
					<a href="#" title="Chris Eminike's facebook page">
						<span>
							<li class="fab fa-facebook" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Github  -->
					<a href="#" title="Chris Eminike's github page">
						<span>
							<li class="fab fa-github" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Instagram -->
					<a href="#" class="instagram" title="Chris Eminike's instagram page">
						<span >
							<li class="fab fa-instagram github" style="font-size: 3em;"></li>
						</span>
					</a>
			</center>
			</div>
			<div class="col-md-3">
				<img src="{% static 'img/officials/secretary.JPG' %}" alt="Chairperson" style="border-radius: 12px;" width="100%" height="250">
				<center>
					<h4 class="btn btn-lg "> Sarafina Williams </h4>
				<h5> Secretary  </h5>
				<!-- facebook  -->
					<a href="#" title="Sarafina William's facebook page">
						<span>
							<li class="fab fa-facebook" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Github  -->
					<a href="#" title="Sarafina William's github page">
						<span>
							<li class="fab fa-github" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Instagram -->
					<a href="#" class="instagram" title="Sarafina William's instagram page">
						<span >
							<li class="fab fa-instagram github" style="font-size: 3em;"></li>
						</span>
					</a>
			</center>
			</div>
			<div class="col-md-3">
				<img src="{% static 'img/officials/tr.jpg' %}" alt="Chairperson" style="border-radius: 12px;" width="100%" height="250">
				<center>
					<h4 class="btn btn-lg"> Francis F. Massaquoi, Jr.</h4>
					<h5> Member </h5>
					<!-- facebook  -->
					<a href="#" title="Francis F. Massaquoi, Jr.'s facebook page">
						<span>
							<li class="fab fa-facebook" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Github  -->
					<a href="#" title="Francis F. Massaquoi, Jr.'s github page">
						<span>
							<li class="fab fa-github" style="font-size: 3em;"></li>
						</span>
					</a>
					<!-- Instagram -->
					<a href="#" class="instagram" title="Francis F. Massaquoi, Jr.'s instagram page">
						<span >
							<li class="fab fa-instagram github" style="font-size: 3em;"></li>
						</span>
					</a>
			</center>
			</div>
		</div>
</div>
{% endblock content %}

