<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block description %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="Python Liberia">
    <meta name="description" content="Python Liberia Official Site">
    <meta author="Innovation Team" content="Project done by Innovation Team - Easy Tech">
    {% endblock description %}
    <!-- Bootstrap CSS -->
    {% load static %}
        <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Boogaloo|Courgette|Handlee|Indie+Flower|Kaushan+Script|Lobster|Lobster+Two|Nanum+Pen+Script|Shadows+Into+Light" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <title> {% block title %} Python Liberia Official Site {% endblock title%}</title>
  {% block custom_css %}
  {% endblock custom_css %}
    {% block proj_css %}
  {% endblock proj_css %}
  </head>
  <body>
    <div class="head">
      <nav class="navbar navbar-expand-lg navbar-best">
  <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'img/logo.svg' %}" alt=" Python Liberia's logo" width="250" height="80"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}"> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'coc' %}">COC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'constitution' %}">Constitution</a>
      </li>
    </ul>
  </div>
</nav>  	
  {% block head %}
  {% endblock head %} 
    </div>
      {% block content %}
      {% endblock content %}
<hr style="margin-top: 80px;">
{% include 'footer.html' %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>