{% extends 'base.html' %}
    {% block description %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="Python Liberia">
    <meta name="description" content="Python Liberia Official Site">
    <meta author="Innovation Team" content="Project done by Innovation Team - Easy Tech">
    {% endblock description %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css">
{% endblock custom_css %}
{% block head %}
<div class="head-text">
  <h1> WELCOME TO PYTHON LIBERIA  </h1>
  <br />
  <p> Liberia first python programmers group </p> 
  <br />
  <a class="btn btn-lg btn-primary" href="https://py-liberia.herokuapp.com/" target="_blank"> JOIN US ON SLACK </a>   <a class="btn btn-lg btn-danger" href="https://py-liberia.herokuapp.com/" target="_blank"> OUR MAILING LIST </a> 
</div>
{% endblock head %}
{% block content %}
<div class="container info-container">
  <div class="row">
    <!-- First column  -->
    <div class="col-md-5" >
      {% for p in post %}
      <center> <h1><i class="fab fa-python"></i> {{p.About_Title}} </h1></center>
      <br />
      <p>{{p.Body}}</p>
      {% endfor %}
    </div>
    <!-- Divisor -->
    <div class="col-md-1">
    </div>
    <!-- divisor ends -->

    <!-- second column  -->
        <div class="col-md-5" >
          {% for r in proj %}
      <center><h1><i class="fas fa-toolbox"></i>  {{r.Project_Title}} </h1></center>
            <br />
      <p> {{r.Project_Body}} </p>
      <a href="{% url 'projects' %}" class="btn btn-lg btn-outline-primary"> PROJECTS </a>
    {% endfor %}
    </div>

        <!-- third column  -->
        <div class="col-md-5" >
          {% for c in coc_lst %}
      <center> <h1> <i class="fas fa-newspaper"></i> {{c.Coc_Title}} </h1></center>
            <br />
      <p>
        {{c.Coc_Body}}
      </p>
        <a href="{% url 'coc' %}" class="btn btn-lg btn-outline-primary"> CODE OF CONDUCT </a>
        {% endfor %}
    </div>
    <!-- Divisor -->
    <div class="col-md-1">
    </div>
    <!-- divisor ends -->
        <!-- fourth column  -->
        <div class="col-md-5" >
          {% for d in constit %}
      <center> <h1><i class="fas fa-book"></i> {{d.Constitution_Title}} </h1></center>
            <br />
      <p>{{d.Constitution_Body}}</p>
        <a href="{% url 'constitution' %}" class="btn btn-lg btn-outline-primary"> CONSTITUTION </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
